.calculator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator__container {
  text-align: end;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 30px;
  width: 350px;
}

.calculator__screen {
  width: 100%;
  padding: 2rem 0;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.calculator__register {
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: auto;
  justify-content: space-around;
  height: 150px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.calculator__register::-webkit-scrollbar {
  background-color: #797979;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
}

.calculator__register--box {
  display: flex;
  flex-direction: column;
}

.calculator__container--box {
  display: flex;
}

.register__data {
  margin: 10px;
}

.register__data--equal {
  margin-left: 5px;
}
